<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
    </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a href="@Url.Action("Logout", "Home")" class="btn btn-block btn-danger">
                        Logout
                    </a>
                </li>
            </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"> TMPS </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Danielle Pajutrao</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link active">
                        <i class="far fa-circle nav-icon" id="index-icon"></i>
                        <p>Summary Overview</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("LoD", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon" id="fda-icon"></i>
                        <p>FDA</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Logistics", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon" id="logistics-icon"></i>
                        <p>Logistics</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Database", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon" id="database-icon"></i>
                        <p>Database / Finance, Inventory & Transmittals</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Canvas", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon" id="canvas-icon"></i>
                        <p>Canvas</p>
                    </a>
                </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <b>Summary Overview</b>

            <p>This Internship Guide will help you learn more
            about your responsibilities in order to focus on
            the important tasks that you need to take on
            which are crucial to the success of the
            company. The objectives are provided in the
            table of contents in sequential order
            highlighting your daily goals that should be
            accomplished in an hourly manner during your
                time at Fourtify Inc.
            </p>

            <p>Tasks related to Food and Drug Administration (FDA). The guide provides instructions and tips on how to handle the
            company’s Food Certificate of Product Registration (CPR). Tasks range from conducting follow ups to
            sending inquiries. Other tasks include file collations for new applications, monitoring the movement of the
            case numbers through the FDA Kiosk and excel, and other tasks that will be important in order to push
            the case number movement to the finish line – to obtain a valid Certificate of Product Registration. A valid
            CPR certifies that Fourtify is now legally able to sell better-for-you products to all endearing customers.
            For Logistics, this document provides a guide on how to request quotations from Fourtify’s Logistics
            partners using a template attached to emails. The rates and charges from each Logistics company will be
            used to fill in the excel sheet for Shipping Quotation Form (Quote Review). Once you receive all the
            quotations from our Logistics Partners, you will choose the most cost efficient forwarder that will
            seamlessly deliver our products to our warehouse in Paranaque. When you have the confirmed
            shipment schedules from the booking through email, you will need to record and track it in order to be
            aware of the status of the shipper as well as communicating with the forwarder regarding the updates.
            For Database, you will encode the necessary information from calling cards, brochures, reference books
            etc. in the excel sheets found in the Database folder in order to record the information for potential
            suppliers and organizations that will be associated with through calls. Also those information can be from
            local (Philippines) to International which they need to be segregated to keep properly in order.
            For Assistance, you may be required to help employees in processing the Telegraphic Transactions to
            the bank, going out to deposit the checks in BPI, receiving documents & product samples from various
            couriers (DHL, FEDEX. ARAMEX, etc.), creating transmittal receipts on documents received or
            documents to be sent to our Logistics Partners, unboxing parcels from Fourtify’s distributed brands and
            updating the tracking sheets in the Daily Task Tracking excel file to list down the products received from
            the shipper and track down their expiration dates or use remarks when it is a mock up product or
            mentioned no expiration date to be aware of the products quality, and putting & sorting them on the boxes
            or containers with a inventory list to know what is inside.
            And lastly, as for the Canvas, you will be conducting product “canvassing” (researching market products)
            to look for products that are similar to the potential reference product through physical and online store
            prices and fill in based on the information of the products in terms of country origin, converted price (in
            PHP) and other categories that you will be basing on in order to compare between two products over local
            and global markets.
            </p>


            FAMILIARIZATION WITH GOOGLE INTERN ACCOUNT
            </br>
            </br>

            I. LOG-IN INFO</br>
            E-mail Address: intern@fourtifyinc.com</br>
            Password: FourtIntern1</br>
            (Note: This email address is shared by other interns)</br>
            </br>
            II. GMAIL</br>
            A. Sending an Email: ALWAYS use the Production Asst prod.intern@fourtifyinc.com email</br>
            address. This ensures that email threads are directed to the Production GMAIL label.</br>
            </br>
            III. GDRIVE</br>
            A. Intern Folder: All documents & files for Product Development & Procurement can be
            found in the “R&D and Logistics Folder” (GDrive > Starred > 006 - Intern Prod Folder >
            R&D and Logistics). This can also be seen in your Bookmarks Bar. The contents of this
            folder are further explained below
        </div>
  <!--Content here jmpua-->

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Test Footer 2024</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>


    <script>
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                console.log('done');
            }
        });


        document.addEventListener('DOMContentLoaded', () => {
            // Fetch the UFda status when the page loads
            fetch('@Url.Action("GetLoDStatus", "Home")')
                .then(response => response.json())
                .then(data => {
                    const iconElement = document.getElementById('fda-icon');
                    if (data.isLoD) {
                        iconElement.classList.remove('far');
                        iconElement.classList.add('fas', 'fa-check-circle', 'text-success');
                    } else {
                        iconElement.classList.remove('fas', 'fa-check-circle', 'text-success');
                        iconElement.classList.add('far', 'fa-circle');
                    }
                })
                .catch(error => console.error('Error fetching LoD status:', error));
        });

        document.addEventListener('DOMContentLoaded', () => {
            // Fetch the UCanv status when the page loads
            fetch('@Url.Action("GetCanvasStatus", "Home")')
                .then(response => response.json())
                .then(data => {
                    const iconElement = document.getElementById('canvas-icon');
                    if (data.isCanv) {
                        iconElement.classList.remove('far');
                        iconElement.classList.add('fas', 'fa-check-circle', 'text-success');
                    } else {
                        iconElement.classList.remove('fas', 'fa-check-circle', 'text-success');
                        iconElement.classList.add('far', 'fa-circle');
                    }
                })
                .catch(error => console.error('Error fetching Canvas status:', error));
        });

        document.addEventListener('DOMContentLoaded', () => {
            // Fetch the ULog status when the page loads
            fetch('@Url.Action("GetLogisticsStatus", "Home")')
                .then(response => response.json())
                .then(data => {
                    const iconElement = document.getElementById('logistics-icon');
                    if (data.isLog) {
                        iconElement.classList.remove('far');
                        iconElement.classList.add('fas', 'fa-check-circle', 'text-success');
                    } else {
                        iconElement.classList.remove('fas', 'fa-check-circle', 'text-success');
                        iconElement.classList.add('far', 'fa-circle');
                    }
                })
                .catch(error => console.error('Error fetching Logistics status:', error));
        });

        document.addEventListener('DOMContentLoaded', () => {
            // Fetch the ULog status when the page loads
            fetch('@Url.Action("GetDatabaseStatus", "Home")')
                .then(response => response.json())
                .then(data => {
                    const iconElement = document.getElementById('database-icon');
                    if (data.isLog) {
                        iconElement.classList.remove('far');
                        iconElement.classList.add('fas', 'fa-check-circle', 'text-success');
                    } else {
                        iconElement.classList.remove('fas', 'fa-check-circle', 'text-success');
                        iconElement.classList.add('far', 'fa-circle');
                    }
                })
                .catch(error => console.error('Error fetching Database status:', error));
        });

        
    </script>

</body>
</html>
